@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

/*==================== VARIABLES ====================*/
:root {
  /*========== Colors ==========*/
  --BxSi:6px 6px 8px rgb(0 0 0 / 50%),
    -6px -6px 10px rgb(255 255 255 / 5%),
        inset -8px -8px 12px rgb(255 255 255 / 5%),
        inset 5px 5px 8px rgb(0 0 0 / 50%);
  --PSD-3d:7px 7px 15px #0c0e10c9,
        -8px -8px 15px #14191dd1,
        inset -5px -4px 13px 0px rgb(0 0 0 / 52%),
        inset 6px 7px 12px 0px #1b1f23cf;
  --BxS: -3px -3px 10px rgb(255 255 255 / 5%),
    3px 3px 15px rgb(0 0 0 / 50%);
  --hoverS:inset -3px -3px 10px rgb(255 255 255 / 5%),
    inset 3px 3px 15px rgb(0 0 0 / 50%);
  --title-color: hsl(250, 8%, 95%);
  --done: hsl(0, 34%, 14%);
  --text-color: hsl(264, 27%, 68%);
}

body {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #242425;
}

body.light {
  --BxSi:6px 6px 8px rgba(13, 39, 80, 0.25),
    -6px -6px 10px #fff,
    inset -8px -8px 12px rgba(255,255,255,0.7),
    inset 5px 5px 8px rgba(13,39,80,0.2);
  --PSD-3d:7px 7px 15px #45566754,
    -8px -8px 15px #5165790a,
        inset -5px -4px 13px 0px #51657959,
        inset 6px 7px 12px 0px #fffffff0;
  --BxS:4px 4px 8px rgba(13, 39,80,0.25),
        -4px 4px 8px #fff;
  --hoverS:-3px -3px 7px #a0a0a032,
        3px 3px 5px rgba(94, 104, 121, 0.417);
  --title-color: hsl(250, 8%, 15%);
  --backcolor: hsl(210, 10%, 92%);
  background: #e8eaec;
  --done: hsl(137, 27%, 81%);
  --text-color: hsl(264, 36%, 37%);
}

button {
  background: transparent;
  cursor: pointer;
  color: var(--title-color);
}

button:active {
  -webkit-box-shadow: var(--hoverS);
          box-shadow: var(--hoverS);
  outline: none;
  border: none;
}

input {
  outline: none;
  background: transparent;
}

h1 {
  text-align: center;
  color: #555;
  padding: 10px;
}

i {
  font-size: 16px;
  color: var(--title-color);
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  position: relative;
}

li {
  list-style: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 15px 0 0;
  padding: 10px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  -webkit-box-shadow: var(--PSD-3d);
          box-shadow: var(--PSD-3d);
}

li p {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: var(--text-color);
}

li:hover {
  -webkit-box-shadow: var(--BxS);
          box-shadow: var(--BxS);
}

/*==================== HEADER ====================*/
.header {
  width: 100%;
  z-index: 1000;
}

.header__nav {
  max-width: 910px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.header__logo {
  padding: 10px;
}

.header__change-theme {
  margin: 20px;
}

.header__change-theme:hover {
  color: #6e57e0;
}

/*==================== FORM-BOX ====================*/
.form-box {
  display: none;
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  -webkit-box-shadow: var(--PSD-3d);
          box-shadow: var(--PSD-3d);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  overflow: hidden;
}

.form-box__buttons {
  width: 212px;
  margin: 35px auto;
  position: relative;
  -webkit-box-shadow: var(--BxS);
          box-shadow: var(--BxS);
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.form-box__toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  color: var(--title-color);
  border: 0;
  outline: none;
  position: relative;
}

.form-box__toggle-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-box__login {
  left: 50px;
}

.form-box__register {
  left: 450px;
}

.form-box__input-group {
  top: 175px;
  position: absolute;
  width: 280px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.form-box__input-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  margin-top: 5px;
  margin-bottom: 25px;
  -webkit-box-shadow: var(--BxSi);
          box-shadow: var(--BxSi);
}

.form-box i {
  padding-left: 20px;
}

.form-box__input-field {
  width: 100%;
  padding: 10px 0 10px 10px;
  margin: 5px 0;
  background: transparent;
  color: var(--title-color);
}

.form-box__checkbox {
  margin: 30px 10px 30px 0;
}

.form-box span {
  color: #777;
  font-size: 12px;
  bottom: 65px;
  position: absolute;
}

.form-box__submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: transparent;
  -webkit-box-shadow: var(--BxS);
          box-shadow: var(--BxS);
  border: 0;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

#form-box__toggle {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  -webkit-box-shadow: var(--hoverS);
          box-shadow: var(--hoverS);
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

/*==================== MAIN ====================*/
.button {
  height: 35px;
  font-weight: bolder;
  padding: 10px 35px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: transparent;
  -webkit-box-shadow: var(--BxS);
          box-shadow: var(--BxS);
  border: 0;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.main {
  max-width: 910px;
  min-width: 400px;
  padding: 10px 30px 30px;
  margin: 0 auto;
  -webkit-box-shadow: var(--PSD-3d);
          box-shadow: var(--PSD-3d);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.inputField {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputField__description {
  width: 100%;
  padding: 10px 0 0;
  background: transparent;
  outline: none;
  -webkit-box-shadow: var(--BxSi);
          box-shadow: var(--BxSi);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  color: var(--title-color);
  padding: 10px 0 10px 10px;
}

.entering-numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  -webkit-box-shadow: var(--BxS);
          box-shadow: var(--BxS);
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.entering-numbers button:active {
  -webkit-box-shadow: var(--hoverS);
          box-shadow: var(--hoverS);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  outline: none;
  border: none;
}

.entering-numbers__important {
  display: inline-block;
  width: 27px;
  height: 27px;
  background: transparent;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  border: none;
  font-size: 17px;
  font-weight: 500;
  outline: none;
  color: var(--title-color);
  font-weight: bold;
}

.entering-numbers__arrow-left i, .entering-numbers__arrow-right i {
  font-size: 25px;
  margin: 0 10px;
}

/*==================== todoList ====================*/
.todoList__custom-checkbox input:checked + .ckeckbox .checkmark {
  display: block;
}

.todoList__list {
  position: relative;
}

.todoList__list-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 5px;
}

.todoList__done-btn {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 10px;
  background: #8add8a;
  font-size: 15px;
  text-align: center;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  cursor: pointer;
}

.todoList__hidden-checkbox {
  -webkit-appearance: none;
}

.todoList__ckeckbox {
  width: 17px;
  height: 17px;
  background: #8add8a;
  font-size: 15px;
  text-align: center;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  cursor: pointer;
}

.todoList__checkmark {
  display: none;
}

.todoList__date {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 10px;
  color: var(--title-color);
  font-size: 15px;
}

.todoList__edite i {
  margin: 0 10px;
  font-size: 18px;
  color: #00acee;
}

.todoList__edite {
  font-size: 20px;
}

.todoList__delete i {
  margin: 0 10px;
  font-size: 23px;
  color: #ef6767;
}

.todoList__delete, .todoList__edite {
  -webkit-border-radius: 7px;
          border-radius: 7px;
}

.done {
  background: var(--done);
}

.done::after {
  content: "\2713";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 15px;
  background: #8add8a;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  cursor: pointer;
}

.doneTask {
  text-decoration: line-through;
}

.modal-main.active {
  display: block;
}

/*==================== Модалка ====================*/
.modal-main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-box-shadow: var(--PSD-3d);
          box-shadow: var(--PSD-3d);
  z-index: 2;
  display: none;
}

.modal-main__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.modal-main__body {
  margin: auto;
  width: 380px;
  -webkit-box-shadow: var(--PSD-3d);
          box-shadow: var(--PSD-3d);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  text-align: center;
  padding: 30px 30px;
  position: relative;
  background: var(--done);
}

.modal-main__title {
  margin: 0 0 20px 0;
  color: var(--title-color);
}

.modal-main__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  font-weight: bold;
  background: none;
  margin: 0 10px;
  cursor: pointer;
  color: #ef6767;
}

.modal-main__input {
  max-width: 90%;
  width: 250px;
  height: 150px;
  background: transparent;
  outline: none;
  color: var(--title-color);
}

.modal-main__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

/*==================== BOTTOM BOTTONS ====================*/
.bottom-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  margin: 20px 0 0;
  color: var(--title-color);
}

.bottom-items__left {
  font-weight: bold;
  color: var(--title-color);
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */