/*==================== FORM-BOX ====================*/
.form-box{
    display: none;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    box-shadow: var(--PSD-3d);
    border-radius: 8px;
    overflow: hidden;
    &__buttons{
        width: 212px;
        margin: 35px auto;
        position: relative;
        box-shadow: var(--BxS);
        border-radius: 30px;
    }
    &__toggle-btn{
        padding: 10px 30px;
        cursor: pointer;
        background: transparent;
        color: var(--title-color);
        border: 0;
        outline: none;
        position: relative;
    }
    &__toggle-btn:active{
        box-shadow: none;
    }
    &__login{
        left: 50px;
    }
    &__register{
        left: 450px;
    }
    &__input-group{
        top: 175px;
        position: absolute;
        width: 280px;
        transition: .5s;
    }
    &__input-box{
        display: flex;
        align-items: center;
        border-radius: 50px;
        margin-top: 5px;
        margin-bottom: 25px;
        box-shadow: var(--BxSi)
    }
    i{
        padding-left: 20px;
    }
    &__input-field{
        width: 100%;
        padding: 10px 0 10px 10px;
        margin: 5px 0;
        background: transparent;
        color: var(--title-color);
    }
    &__checkbox{
        margin: 30px 10px 30px 0;
    }
    span{
        color: #777;
        font-size: 12px;
        bottom: 65px;
        position: absolute;
    }
    &__submit-btn{
        width: 85%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        background: transparent;
        box-shadow: var(--BxS);
        border: 0;
        border-radius: 30px;
    }
}

#form-box__toggle{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    // background: transparent;
    box-shadow: var(--hoverS);
    border-radius: 30px;
    transition: .5s;
}