*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*==================== VARIABLES ====================*/
:root{
    /*========== Colors ==========*/
    --BxSi:6px 6px 8px rgb(0 0 0 / 50%),
    -6px -6px 10px rgb(255 255 255 / 5%),
        inset -8px -8px 12px rgb(255 255 255 / 5%),
        inset 5px 5px 8px rgb(0 0 0 / 50%);

    --PSD-3d:7px 7px 15px #0c0e10c9,
        -8px -8px 15px #14191dd1,
        inset -5px -4px 13px 0px rgb(0 0 0 / 52%),
        inset 6px 7px 12px 0px #1b1f23cf;
    --BxS: -3px -3px 10px rgb(255 255 255 / 5%),
    3px 3px 15px rgb(0 0 0 / 50%);
    --hoverS:inset -3px -3px 10px rgb(255 255 255 / 5%),
    inset 3px 3px 15px rgb(0 0 0 / 50%);
    --title-color: hsl(250, 8%, 95%);
    --done: hsl(0, 34%, 14%);
    --text-color: hsl(264, 27%, 68%);
}

body{
    // display: flex;
    // justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #242425;
}
body.light{
    --BxSi:6px 6px 8px rgba(13, 39, 80, 0.25),
    -6px -6px 10px #fff,
    inset -8px -8px 12px rgba(255,255,255,0.7),
    inset 5px 5px 8px rgba(13,39,80,0.2);

    --PSD-3d:7px 7px 15px #45566754,
    -8px -8px 15px #5165790a,
        inset -5px -4px 13px 0px #51657959,
        inset 6px 7px 12px 0px #fffffff0;
    --BxS:4px 4px 8px rgba(13, 39,80,0.25),
        -4px 4px 8px #fff;
    --hoverS:-3px -3px 7px #a0a0a032,
        3px 3px 5px rgba(94, 104, 121, 0.417);
    --title-color: hsl(250, 8%, 15%);
    --backcolor: hsl(210, 10%, 92%);
    background: #e8eaec;
    --done: hsl(137, 27%, 81%);
    --text-color: hsl(264, 36%, 37%);
}

button{
    background: transparent;
    cursor: pointer;
    color: var(--title-color);
}

button:active{
    box-shadow: var(--hoverS);
    outline: none;
    border: none;
}

input{
    outline: none;
    background: transparent;
}

h1{
    text-align: center;
    color: #555;
    padding: 10px;
}

i{
    font-size: 16px;
    color: var(--title-color);
    cursor: pointer;
}

a{
    text-decoration: none;
}

ul{
    position: relative;
}

li{
    list-style: none;
    align-items: center;
    list-style: none;
    margin: 15px 0 0;
    padding: 10px;
    border-radius: 7px;
    box-shadow: var(--PSD-3d);
}

li p{
    flex-grow: 1;
    color: var(--text-color);
}

li:hover{
    box-shadow: var(--BxS);
}

/*==================== HEADER ====================*/
.header{
    width: 100%;
    // position: fixed;
    // top: 0;
    z-index: 1000;
    &__nav{
        max-width: 910px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    &__logo{
        padding: 10px;
    }
    &__change-theme{
        margin: 20px;
    }
    &__change-theme:hover {
        color: hsl(250, 69%, 61%);
    }
}

/*==================== FORM-BOX ====================*/
.form-box{
    display: none;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    box-shadow: var(--PSD-3d);
    border-radius: 8px;
    overflow: hidden;
    &__buttons{
        width: 212px;
        margin: 35px auto;
        position: relative;
        box-shadow: var(--BxS);
        border-radius: 30px;
    }
    &__toggle-btn{
        padding: 10px 30px;
        cursor: pointer;
        background: transparent;
        color: var(--title-color);
        border: 0;
        outline: none;
        position: relative;
    }
    &__toggle-btn:active{
        box-shadow: none;
    }
    &__login{
        left: 50px;
    }
    &__register{
        left: 450px;
    }
    &__input-group{
        top: 175px;
        position: absolute;
        width: 280px;
        transition: .5s;
    }
    &__input-box{
        display: flex;
        align-items: center;
        border-radius: 50px;
        margin-top: 5px;
        margin-bottom: 25px;
        box-shadow: var(--BxSi)
    }
    i{
        padding-left: 20px;
    }
    &__input-field{
        width: 100%;
        padding: 10px 0 10px 10px;
        margin: 5px 0;
        background: transparent;
        color: var(--title-color);
    }
    &__checkbox{
        margin: 30px 10px 30px 0;
    }
    span{
        color: #777;
        font-size: 12px;
        bottom: 65px;
        position: absolute;
    }
    &__submit-btn{
        width: 85%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        background: transparent;
        box-shadow: var(--BxS);
        border: 0;
        border-radius: 30px;
    }
}

#form-box__toggle{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    // background: transparent;
    box-shadow: var(--hoverS);
    border-radius: 30px;
    transition: .5s;
}

/*==================== MAIN ====================*/
.button{
    height: 35px;
    font-weight: bolder;
    padding: 10px 35px;
    border-radius: 3px;
    background: transparent;
    box-shadow: var(--BxS);
    border: 0;
    border-radius: 30px;
}

.main{
    // display: none;
    max-width: 910px;
    min-width: 400px;
    padding: 10px 30px 30px;
    margin: 0 auto;
    box-shadow: var(--PSD-3d);
    border-radius: 8px;
}

.inputField{
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    &__description{
        width: 100%;
        padding: 10px 0 0;
        background: transparent;
        outline: none;
        box-shadow: var(--BxSi);
        border-radius: 50px;
        color: var(--title-color);
        padding: 10px 0 10px 10px;
    }
}

.entering-numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    box-shadow: var(--BxS);
    border-radius: 30px;
    button:active{
        box-shadow: var(--hoverS);
        border-radius: 50px;
        // width: 27px;
        // height: 27px;
        outline: none;
        border: none;
    }
    &__important{
        display: inline-block;
        width: 27px;
        height: 27px;
        background: transparent;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        border: none;
        font-size: 17px;
        font-weight: 500;
        outline: none;
        color: var(--title-color);
        font-weight: bold;
    }
    &__arrow-left i, &__arrow-right i{
        font-size: 25px;
        margin: 0 10px;
    }
}

/*==================== todoList ====================*/
.todoList{
    &__custom-checkbox input:checked + .ckeckbox .checkmark{
        display: block;
    }
    &__list{
        position: relative;
    }
    &__list-nav{
        display: flex;
        align-items: center;
        margin: 0 0 5px;
    }
    &__done-btn{
        position: absolute;
        width: 17px;
        height: 17px;
        left: 10px;
        background: #8add8a;
        font-size: 15px;
        text-align: center;
        border-radius: 50px;
        cursor: pointer;
    }
    &__hidden-checkbox{
        -webkit-appearance: none;
    }
    &__ckeckbox{
        width: 17px;
        height: 17px;
        background: #8add8a;
        font-size: 15px;
        text-align: center;
        border-radius: 50px;
        cursor: pointer;
    }
    &__checkmark{
        display: none;
    }
    &__date{
        flex-grow: 1;
        margin-left: 10px;
        color: var(--title-color);
        font-size: 15px;
    }
    &__edite i{
        margin: 0 10px;
        font-size: 18px;
        color: #00acee;
    }
    &__edite{
        font-size: 20px;
    }
    &__delete i{
        margin: 0 10px;
        font-size: 23px;
        color: #ef6767;
    }
    &__delete,&__edite{
        border-radius: 7px;
    }
}
.done{
    background: var(--done);
}
.done::after{
    content: "\2713";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 15px;
    background: #8add8a;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
}
.doneTask{
    text-decoration: line-through;
}

.modal-main.active{
    display: block;
}

/*==================== Модалка ====================*/
.modal-main{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: var(--PSD-3d);
    z-index: 2;
    display: none;
    &__content{
        display: flex;
        width: 100%;
        height: 100%;
    }
    &__body{
        margin: auto;
        width: 380px;
        box-shadow: var(--PSD-3d);
        border-radius: 8px;
        text-align: center;
        padding: 30px 30px;
        position: relative;
        background: var(--done);
    }
    &__title{
        margin: 0 0 20px 0;
        color: var(--title-color);
    }
    &__close{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 40px;
        font-weight: bold;
        background: none;
        margin: 0 10px;
        cursor: pointer;
        color: #ef6767;
    }
    &__input{
        max-width: 90%;
        width: 250px;
        height: 150px;
        background: transparent;
        outline: none;
        color: var(--title-color);
    }
    &__actions{
        display: flex;
        justify-content: space-around;
    }
}

/*==================== BOTTOM BOTTONS ====================*/
.bottom-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 20px 0 0;
    color: var(--title-color);
    &__left{
        font-weight: bold;
        color: var(--title-color);
    }
    // &__filter{
    //     // flex-grow: 1;
    // }
    // &__clear{
    //     // flex: left;
    // }
}
.hidden{
    display: none;
}