@import "./_variables";
@import "./header";
@import "./form-box";
@import "./main";
@import "./modal";

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    // display: flex;
    // justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #242425;
    padding: 0 10px;
}

button{
    background: transparent;
    cursor: pointer;
    color: var(--title-color);
}

button:active{
    box-shadow: var(--hoverS);
    outline: none;
    border: none;
}

input{
    outline: none;
    background: transparent;
}

h1{
    text-align: center;
    color: #555;
    padding: 10px;
}

i{
    font-size: 16px;
    margin: 0 10px;
    color: var(--title-color);
    cursor: pointer;
}

a{
    text-decoration: none;
}

ul{
    position: relative;
}

li{
    list-style: none;
    align-items: center;
    list-style: none;
    margin: 15px 0 0;
    padding: 10px;
    border-radius: 7px;
    box-shadow: var(--BxS);
}

li p{
    flex-grow: 1;
    color: var(--text-color);
}

li:hover{
    box-shadow: var(--PSD-3d);
}

/*==================== todoList ====================*/
.todoList{
    &__custom-checkbox input:checked + .ckeckbox .checkmark{
        display: block;
    }
    &__list{
        position: relative;
    }
    &__list-nav{
        display: flex;
        align-items: center;
        margin: 0 0 5px;
    }
    &__done-btn{
        position: absolute;
        width: 17px;
        height: 17px;
        left: 10px;
        background: #8add8a;
        font-size: 15px;
        text-align: center;
        border-radius: 50px;
        cursor: pointer;
    }
    &__hidden-checkbox{
        -webkit-appearance: none;
    }
    &__ckeckbox{
        width: 17px;
        height: 17px;
        background: #8add8a;
        font-size: 15px;
        text-align: center;
        border-radius: 50px;
        cursor: pointer;
    }
    &__checkmark{
        display: none;
    }
    &__date{
        flex-grow: 1;
        margin-left: 10px;
        color: var(--title-color);
        font-size: 15px;
    }
    &__edite i{
        margin: 0 10px;
        font-size: 18px;
        color: #00acee;
    }
    &__edite{
        font-size: 20px;
    }
    &__delete i{
        margin: 0 10px;
        font-size: 23px;
        color: #ef6767;
    }
    &__delete,&__edite{
        border-radius: 7px;
    }
}
.done{
    background: var(--done);
}
.done::after{
    content: "\2713";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 15px;
    background: #8add8a;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
}
.doneTask{
    text-decoration: line-through;
}

.modal-main.active{
    display: block;
}

/*==================== BOTTOM BOTTONS ====================*/
.bottom-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 20px 0 0;
    color: var(--title-color);
    &__left{
        font-weight: bold;
        color: var(--title-color);
    }
    input{
        // -webkit-appearance: none;
        outline: none;
    }
    &__filter label:hover i{
        color: #00acee;
    }
}
.hidden{
    display: none;
}
.important-sort, .data-sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin: auto 0;
    span{
        margin: 0 10px;
    }
    i{
        font-size: 25px;
    }
}