.entering-numbers > input {
	float: left;
	width: 15px;
	display: inline-block;
	margin: 0 10px 40px 0;
	height: 15px;
	text-align: center;
	background-color: #efbd16;
	border-radius: 2px;
	border: none;
	color: #1c1c1c;
	font-family: GothamPro;
	font-size: 12px;
	font-weight: 500;
}

.entering-numbers > label:after {
	display: none;
}

.entering-numbers > label:befor {
	display: none;
}

.arrow-up {
	cursor: pointer;
	position: absolute;
	top: 4px;
    left: 49px;
	width: 0;
	height: 0;
	border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 9px solid #efbd16;
}
.arrow-down {
	cursor: pointer;
	position: absolute;
	top: 36px;
    left: 49px;
	width: 0;
	height: 0;
	border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-top: 9px solid #efbd16;
}